*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cor-de-fundo-do-body);
}
:root{
    --cor-de-fundo-do-body: #ffe8d4;
    --cor-das-informacoes-do-perfume:  #c4c4c9;
    --cor-dos-precos-e-do-botao: hsl(158, 36%, 37%);
}
main{
    display: flex;
    width: 700px;
    height: 525px;
    background-color: #ffff;
    flex-direction: row;
    border-radius: 10px;
    
}

main .img img{
    width: 350px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
main .informacao h1{
    font-family: 'Fraunces', serif;
}
main .informacao h2, main .informacao p{
    font-family: 'Montserrat', sans-serif;
}
main .informacao{
    margin: 40px;
}

main .informacao h2{
    margin-bottom: 20px;
    font-size: 20PX;
    
    font-family: 'Saira Extra Condensed', sans-serif;
}
main .informacao h1{
    margin-bottom: 20px;
    font-size: 40px;
}
main .informacao p{
    margin-bottom: 30px;
    font-size: 14px;
    color: var(--cor-das-informacoes-do-perfume);
}
main .informacao .precos{
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}
main .informacao .precos p{
    font-size: 43px;
    color: var(--cor-dos-precos-e-do-botao);
    font-family: 'Fraunces', serif;
    
}
main .informacao .precos .preco-anterior p{
    font-size: 20px;
    margin-top: 13px;
    text-decoration:line-through;
}
main .informacao button{
    background-color:var(--cor-dos-precos-e-do-botao);
    padding: 15px;
    width: 260px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    transition: 0.5s ease-in-out;
   
}

main .informacao button img{
    width: 24px;
    transition: 0.5s ease-in-out;
    
}

main .informacao button:hover{
    background-color: hsl(158, 81%, 47%);
    
    transition: 0.5s ease-in-out;
}

.attribution{
    background-color: #ffff;
    padding: 20px;
    border-radius: 10px;
    font-size: 10px;
    /* margin-top: 20px; */
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom: 0;
    
}
.attribution a{
    text-decoration: none;
    transition: 0.6s ease-in-out;
    padding: 10px;
}
.attribution a:hover{
    padding: 10px;
    background-color: rgba(88, 88, 212, 0.26);
    border-radius: 10px;
    transition: 0.6s ease-in-out;
}


@media (max-width: 698px){
    main{
        display: block;
        width: 330px;
        height: 770px;
    }
 
    main .img img{
        width: 330px;
        height: 350px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    }
    .attribution {
        font-size: 0;
        padding: 0;
        background-color: rgb(247, 248, 246);
        width: 350px;
        margin-top: 20px;
        position: absolute;
        margin-top: 100px;
        bottom:0 auto;
    }
    ..attribution a{
        font-size: 0px;
    }
    main .informacao h2{
        margin-bottom: 10;
    }
    main .informacao h1{
        font-size: 25px;
    }
    main .informacao p{
        margin-bottom: 10px;
    }
    main .informacao .precos {
        margin-bottom: 20px;
        margin-right: 40px;
        display: flex;
        gap: 10px;
    }
}
@media (max-width: 1440px){
    .attribution{ 
        padding: 5px;
        font-size: 10px;
        position: absolute;
        bottom: 0;
        font-size: 14px;
    }
    .attribution a{
        text-decoration: none;
        transition: 0.6s ease-in-out;
        padding: 5px;
        
    }
    .attribution a:hover{
        padding: 5px;
        background-color: rgba(88, 88, 212, 0.26);
        border-radius: 5px;
    }
}
@media (max-width:414px){
    .attribution{
        background-color: rgba(255, 255, 255, 0);
        color: rgba(255, 0, 0, 0);
        margin-bottom: 120px;
    }
    .attribution a{
        color: rgba(255, 255, 255, 0);
    }
}